[package]
name = "app"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]
path = "src/lib.rs"
name = "app_core"

[dependencies]
bytemuck = { version = "1.20.0", features = ["derive"] }
egui = "0.30.0"
egui-wgpu = { version = "0.30.0", features = ["winit"] }
env_logger = "0.11.5"
futures = "0.3.31"
log = "0.4.22"
nalgebra-glm = { version = "0.19.0", features = [
    "convert-bytemuck",
    "serde-serialize",
] }
wgpu = { version = "23.0.0", default-features = false }
winit = "0.30.5"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
egui-winit = "0.30.0"
pollster = "0.4.0"

[target.'cfg(target_arch = "wasm32")'.dependencies]
console_error_panic_hook = "0.1.7"
console_log = "1.0.0"
egui-winit = { version = "0.30.0", default-features = false }
wasm-bindgen = "0.2.99"
wasm-bindgen-futures = "0.4.49"
web-time = "1.1.0"

[features]
default = ["wgpu/default"]
webgl = ["wgpu/webgl"]
webgpu = ["wgpu/webgpu"]
